<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>

<div class="container">

  <form [formGroup]="frm">


    <mat-form-field appearance="outline" style="width : 100%">

      <mat-label>Kütüphane Seçiniz</mat-label>

      <mat-select placeholder="Kütüphane Seçiniz" (selectionChange)="KutupSec($event.value)">

        <mat-option [value]="kutup.kutuphaneId" *ngFor="let kutup of kutupler">{{kutup.kutuphaneIsim}}</mat-option>

      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Saatler</mat-label>
      <input type="datetime-local" matInput placeholder="Saatler" formControlName="Saatler" name="Saatler" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Saat Durum</mat-label>
      <input matInput placeholder="Saat Durum" formControlName="SaatDurum" name="SaatDurum" required type="number"
        placeholder="0(500) 000 00 00">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Kişi Sayısı</mat-label>
      <input matInput placeholder="Kişi Sayısı" formControlName="SaatKisi" name="SaatKisi" required type="number">
    </mat-form-field>


  </form>

  <button mat-raised-button color="primary" [disabled]="frm.invalid" (click)="dialog.close(frm.value)">Kaydet</button>

  &nbsp;

  <button mat-raised-button color="warn" (click)="dialog.close()"> İptal </button>


</div>