<div class="container">

  <h1>Kitaplar</h1>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Aranacak Değer Giriniz" (keyup)="Filtrele($event)">
  </mat-form-field>

  <button mat-fab color="warn" matTooltip="Kitap Ekle" (click)="KitapEkle()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>

  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z10" matSort>

    <ng-container matColumnDef="kitapIsim">

      <mat-header-cell *matHeaderCellDef mat-sort-header> Kitap İsmi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.kitapIsim}} </mat-cell>

    </ng-container>

    <ng-container matColumnDef="kitapYazar">

      <mat-header-cell *matHeaderCellDef mat-sort-header> Kitap Yazar.
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.kitapYazar}} </mat-cell>

    </ng-container>

    <ng-container matColumnDef="kitapDurum">

      <mat-header-cell *matHeaderCellDef mat-sort-header> Kitap Durumu
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.kitapDurum}} </mat-cell>

    </ng-container>


    <ng-container matColumnDef="islemler">

      <mat-header-cell *matHeaderCellDef> İşlemler</mat-header-cell>

      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button matTooltip="Kayıtları Görüntüle" [routerLink]="['/kitapliste',kayit.kitapId ]">

          <mat-icon aria-label="label" color="primary">article</mat-icon>

        </button>

        <button mat-icon-button matTooltip="Kitap Düzenle" (click)="Duzenle(kayit)">

          <mat-icon aria-label="label" color="accent">edit</mat-icon>

        </button>

        <button mat-icon-button matTooltip="Kitap Sil">

          <mat-icon aria-label="label" color="warn" (click)="Sil(kayit)">
            delete</mat-icon>

        </button>

      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>
</div>